@{
    ViewBag.Title = "About Us";
}

<h2>Sobre</h2>
<p>
    <h3>Social Chat</h3>
    <div>
        <img src="@Url.Content("~/Content/images/NetMagazine.png")" />
    </div> 
    <div><b>Desenvolvido para .net Magazine</b></div><br />
    <div>© 2012 Marcelo Ricardo de Oliveira</div>
    <div>Todos os Direitos Reservados</div>
</p>
